[submodule "WorldOfTanks-Decompiled"]
	path = WorldOfTanks-Decompiled
	url = https://github.com/StranikS-Scan/WorldOfTanks-Decompiled.git
[submodule "wot-src"]
	path = wot-src
	url = https://github.com/IzeBerg/wot-src.git
[submodule "wot-model-converter"]
	path = wot-model-converter
	url = https://github.com/SkaceKamen/wot-model-converter.git
