[submodule "WorldOfTanks-Decompiled"]
	path = WorldOfTanks-Decompiled
	url = https://github.com/StranikS-Scan/WorldOfTanks-Decompiled.git
[submodule "wot-src"]
	path = wot-src
	url = https://github.com/IzeBerg/wot-src.git
